<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AwesomeNotepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NODEPAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <AwesomeNotepad.Properties.Settings>
            <setting name="formLoc" serializeAs="String">
                <value>250, 250</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>816, 489</value>
            </setting>
            <setting name="isSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isNewFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openedFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoWordSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isBottomPanelHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BottomPanelColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopPanelColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContextMenuColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Calibri, 12pt</value>
            </setting>
            <setting name="RememberFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCompact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>1</value>
            </setting>
        </AwesomeNotepad.Properties.Settings>
        <NODEPAT.Properties.Settings>
            <setting name="formLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>816, 489</value>
            </setting>
            <setting name="isSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isNewFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openedFilePath" serializeAs="String">
                <value/>
            </setting>
        </NODEPAT.Properties.Settings>
    </userSettings>
</configuration>
